@charset "utf-8";

/*========= ナビバー ===============*/

/* ハンバーガーボタン押したらXに */
button[aria-expanded="true"] > .navbar-toggler-icon {
  background-image: url(../../img/close_icon3.svg);
}

/* ナビバーのスタイル */
.navbar {
  background-color: rgb(235, 0, 130);
  border-radius: 10px;
  margin: 10px 10px 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

/* ナビバーの文字色とフォントサイズ */
.navbar-nav li a {
  color: #fff;
  font-size: 18px;
}

/* ハンバーガーの枠線の色 */
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
  /* background-color: #fff; */
}

/* ハンバーガーの影を無しに */
.navbar-toggler:focus {
  box-shadow: none;
}

/* ハンバーガーの色を変更 */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.00%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* ナビバーの文字にホバー・フォーカスした時の色 */
.nav-link:focus,
.nav-link:hover {
  color: #fff;
}

/* ドロップダウンメニューのスタイル */
.dropdown-menu {
  background-color: rgb(235, 0, 130);
  /* border: 1px solid rgba(255,255,255,.5); */
  border: none;
}

/* ドロップダウンメニューの文字にホバー・フォーカスした時の色 */
.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  background-color: rgb(235, 0, 130);
}

/* ドロップダウン展開時は三角形を逆向きに */
a[aria-expanded="true"]::after {
  border-bottom: 0.3em solid;
  border-top: 0;
}

/* ナビバーのロゴの無駄なパディングを消す */
.navbar-brand {
  padding: 0;
}

/* ハンバーガー左マージン(モバイル表示のときにNBUロゴを中央に表示するために必要) */
.navbar-toggler {
  margin-left: 44px;
}

/* モバイル表示のときにデスクトップ用NBUロゴを消す */
@media screen and (max-width: 991px) {
  #desktop-nbu-logo {
    display: none;
  }
}

/* デスクトップ表示のときにモバイル用NBUロゴを消す */
@media screen and (min-width: 992px) {
  #mobile-nbu-logo {
    display: none !important;
  }
}

/* デスクトップ表示のときにメニューリストを中央に持ってくる */
.navbar-nav {
  margin: 0 auto !important;
}

/* ナビバーのモバイル用プロパティ群 */
@media screen and (max-width: 991px) {
  /* リンク項目の上に破線 */
  .nav-link-mobile {
    border-top: dashed 1px rgba(255, 255, 255, 0.5);
  }

  /* ドロップダウンリンク項目の上に破線 */
  .dropdown-item {
    border-top: dashed 1px rgba(255, 255, 255, 0.5);
  }

  /* ドロップダウンの無駄なパディングとマージンを消して、20pxの左右インデント */
  .dropdown-menu {
    padding: 0;
    margin: 0 20px 0 20px;
  }

  /* ドロップダウン昇降時のスタイルにも適用 */
  .dropdown-menu[data-bs-popper] {
    margin: 0 20px 0 20px;
  }

  /* ドロップダウン項目も他と同じような縦幅にする */
  .dropdown-item {
    padding: 8px 0px;
  }

  /* ドロップダウントグルボタンのスタイルをプラスマークに変更 */
  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0;
    vertical-align: 0;
    content: "";
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    background-image: url(../../img/plus.svg);
    width: 20px;
    height: 20px;
    top: 13.5px;
    position: absolute;
    right: 5px;
  }

  /* ドロップダウントグルボタンのスタイルをマイナスマークに変更 */
  a[aria-expanded="true"]::after {
    display: inline-block;
    margin-left: 0;
    vertical-align: 0;
    content: "";
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    background-image: url(../../img/minus.svg);
    width: 20px;
    height: 20px;
    top: 13.5px;
    position: absolute;
    right: 5px;
  }

  /* リンク項目の右端に三角形をつける場所の設定のために、リンク項目の親を基準にするように設定 */
  .nav-link-direct {
    position: relative;
  }

  /* リンク項目の右端に三角形をつける */
  .nav-link-direct::after {
    display: inline-block;
    margin-left: 0.255em;
    /* vertical-align: 0.255em; */
    content: "";
    border-left: 0.3em solid;
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -6px;
  }
}

/* デスクトップ表示のときにメニュ項目の間に線を設ける */
@media screen and (min-width: 992px) {
  /* すべての項目に右側に線 */
  .nav-link-mobile {
    border-right: solid 1px rgba(255, 255, 255, 0.5);
  }

  /* 最初の項目には左側の線も追加 */
  .nav-link-mobile-first {
    border-left: solid 1px rgba(255, 255, 255, 0.5);
  }

  /* ドロップダウンメニューの影 */
  .dropdown-menu {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  }
}

/*========= ナビバー(END) ===============*/

/*========== section ==========*/

/* ↓↓参考↓↓ */
/* https://pulpxstyle.com/heading-design/ */

/* ベース */
.section-base {
  background-color: #000;
  padding: 100px 0 12px;
}

/* ベースのタイトル */
.section-base div h2 {
  margin: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  text-align: center;
}

/* ベースのタイトル（モバイル表示） */
@media screen and (max-width: 575px) {
  .section-base div h2 {
    font-size: 16px;
  }
}

/* タイトルのデザイン */
.section-base div h2::before,
.section-base div h2::after {
  content: "";
  width: 70px;
  height: 3px;
  background-color: rgb(235, 0, 130);
}

.section-base div h2::before {
  margin-right: 20px;
}
.section-base div h2::after {
  margin-left: 20px;
}

.section-base div p {
  margin: 0;
}

#about-p {
  margin: 12px 0;
}

/* 背景がマゼンタのセクション */
.type1 {
  background-color: rgb(255, 225, 242);
}

/* 背景がグレーのセクション */
.type2 {
  background-color: #f8f9fa;
}

/* 背景がオレンジのセクション */
.type3 {
  background-color: #ffddc3;
}

/* 背景がブルーのセクション */
.type4 {
  background-color: rgb(211, 229, 255);
}

/*========== section(END) ==========*/

/* ======== 動画一覧セクション ======== */
/* YoutubeIframeのサイズをレスポンシブにして、影をつける */
.video {
  width: 100%;
  padding-bottom: 56.25%;
  height: 0px;
  position: relative;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

/* YoutubeIframeのサイズをレスポンシブに */
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ガーターを調整 */
.col {
  margin-top: 12px;
}

/* ======== 動画一覧セクション(END) ======== */

/* ==== フッター ==== */

.footer {
  background-color: rgb(235, 0, 130) !important;
}

.footer div span {
  color: #fff !important;
}

/* ==== フッター(END) ==== */
